body{
    margin: 0;
    padding: 0;
}
.page-width {
    max-width: 1020px;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
    background-color:cadetblue;
}
.sec3 .content-header h2{
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 3rem;
    padding: 3rem;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}
.sec3 p{
    color: #fff;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}